html {
  min-height:100vh;
  height:100%;
}

html body {
  text-align: center;
  background-color: #231E23;
  min-height:100vh;
  height:100%;
}

.container-fluid {
  height: 80vh;
}

/*Game text */

.round-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.3rem;
  margin:  5%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #DEEEEA;
  text-align: center;
}

.info-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.4rem;
  margin:  5%;
  margin-top: 1%;
  margin-bottom: 2%;
  color: #DEEEEA;
  text-align: center;
}


.game-over {
  background-color: rgb(73, 43, 43);
  opacity: 0.8;
}

/*Game buttons */

#button-green {
  width: 13rem;
   height: 13rem;
  background: green;
  border: solid #202221d5;
  border-width: .5rem;
  border-radius: 12rem 0 0 0;
  -moz-border-radius: 12rem 0 0 0;
  -webkit-border-radius: 12rem 0 0 0;
  margin: 0 1.25% 0 auto;
}

#button-red {
   width: 13rem;
   height: 13rem;
   background: red;
   border: solid #202221d5;
   border-width: .5rem;
   border-radius: 0 12rem 0 0;
   -moz-border-radius: 0 12rem 0 0;
   -webkit-border-radius: 0 12rem 0 0;
   margin: 0 auto 0 1.25%;
}


#button-yellow {
  width: 13rem;
   height: 13rem;
  background: yellow;
  border: solid #202221d5;
  border-width: .5rem;
  border-radius: 0 0 0 12rem;
  -moz-border-radius: 0 0 0 12rem;
  -webkit-border-radius: 0 0 0 12rem;
  margin: 2.5% 1.25% 0 auto;
}


#button-blue {
  width: 13rem;
  height: 13rem;
  background: cyan;
  border: solid #202221d5;
  border-width: .5rem;
  border-radius: 0 0 12rem 0;
  -moz-border-radius: 0 0 12rem 0;
  -webkit-border-radius: 0 0 12rem 0;
  margin: 2.5% auto 0 1.25%;
}

.highlight-green {
  background: white;
  box-shadow: 0 0 20px white;
}

.highlight-red {
  background: #f57373;
  box-shadow: 0 0 20px white;
}

.highlight-yellow {
  background: orange;
  box-shadow: 0 0 20px white;
}

.highlight-blue {
  background: blue;
  box-shadow: 0 0 20px white;
}

#footer {
  background-color: #221f22;
  width: 100%;
  margin-top: 5%;
  position: absolute;

}
.attribution-link {
  font-size: .8rem;
  color: #deeeeade;
}

.attribution-link:hover {
  color: #39A6A3;
  text-decoration: normal;
}

/* Updates the game text and game button sizes for smaller screens*/
@media(max-width: 500px) {

  /*Game text */

  .round-text {
    font-size: 1.9rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .info-text {
    font-size: 1.3rem;
    margin-top: 1%;
    margin-bottom: 20%;
  }


    /*Game buttons */

  #button-green {
    width: 10rem;
    height: 10rem;
    border-radius: 9rem 0 0 0;
    -moz-border-radius: 9rem 0 0 0;
    -webkit-border-radius: 9rem 0 0 0;
    margin: 0 1% 0 auto;
  }

  #button-red {
    width: 10rem;
    height: 10rem;
    border-radius: 0 9rem 0 0;
    -moz-border-radius: 0 9rem 0 0;
    -webkit-border-radius: 0 9rem 0 0;
    margin: 0 auto 0 1%;
  }


  #button-yellow {
    width: 10rem;
    height: 10rem;
    border-radius: 0 0 0 9rem;
    -moz-border-radius: 0 0 0 9rem;
    -webkit-border-radius: 0 0 0 9rem;
    margin: 1% 1% 0 auto;
  }


  #button-blue {
    width: 10rem;
    height: 10rem;
    border-radius: 0 0 9rem 0;
    -moz-border-radius: 0 0 9rem 0;
    -webkit-border-radius: 0 0 9rem 0;
    margin: 1% auto 0 1%;
  }

}

/* Updates the game text and game button sizes for smaller screens*/
@media(max-width: 360px) {

  /*Game text */

  .round-text {
    font-size: 1.9rem;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .info-text {
    font-size: 1.2rem;
    margin-top: 1%;
    margin-bottom: 10%;
  }


    /*Game buttons */

  #button-green {
    width: 7rem;
    height: 7rem;
    border-radius: 6rem 0 0 0;
    -moz-border-radius: 6rem 0 0 0;
    -webkit-border-radius: 6rem 0 0 0;
    margin: 0 1% 0 auto;
  }

  #button-red {
    width: 7rem;
    height: 7rem;
    border-radius: 0 6rem 0 0;
    -moz-border-radius: 0 6rem 0 0;
    -webkit-border-radius: 0 6rem 0 0;
    margin: 0 auto 0 1%;
  }


  #button-yellow {
    width: 7rem;
    height: 7rem;
    border-radius: 0 0 0 6rem;
    -moz-border-radius: 0 0 0 6rem;
    -webkit-border-radius: 0 0 0 6rem;
    margin: 1% 1% 0 auto;
  }


  #button-blue {
    width: 7rem;
    height: 7rem;
    border-radius: 0 0 6rem 0;
    -moz-border-radius: 0 0 6rem 0;
    -webkit-border-radius: 0 0 6rem 0;
    margin: 1% auto 0 1%;
  }

}